#content-area{
    overflow:auto;
    width: 100%;
    background: black;
    min-height: 100vh;
}

#filter{
    background: grey;
    width: 30%;
    max-width: 300px;
    display: inline-block;
    //float: left;

    .inside{
        padding: 20px;

    }

    h4{
        font-size: 0.9rem;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: 500px;
    }

    select{
        background: transparent;
        padding: 10px;
        font-size: 14px;
        font-weight: 500px;
        color: darkgray;
        display: block;
        margin-bottom: 25px;
        width:100%;
    }


    .filters{
        .title{
            font-size:0.9rem;
            display: block;
            margin-bottom: 1rem;
            color: pink;
        }
    }
        input[type="text"]{
            border-radius: 5px;
            font-size:1rem;
            padding: .4rem;
            width: 45%;
            display: inline-block;
            margin-right: 2.5%;
            margin-bottom: 1rem;
    }
   // put and and bc filters has a class of extras 
&.extras {
    label{
        display: block;
        width: 100%;
        padding: 10px 0;
        input[type="checkbox"]{
            float:right;
        }
    }
}

}

#Listings{
    width: 70%;
    display: inline-block;
    //float: left;
    padding: 15px;
    background: tan;

    .search-area{
        input[type="text"]{
            width: 70%;
            background: transparent;
            font-size: 2rem;
            border: none;
            border-bottom: 1px solid darkgreen;
            margin-bottom: 20px;

        }
    }

.sortby-area{
    margin-bottom:20px;
    .results{
        font-size:0.8rem;
        color: greenyellow;
        display: inline-block;

    }
    .sort-options{
        float:right;


        select{
            font-size: .9rem;
            font-weight: 300;
            border: 1px solid grey;
            background: transparent;
            padding: 20px;
            display: inline-block;
            margin-right: 15px;
            vertical-align: top;
            display: inline-block;
        }
        
        .view {
            display: inline-block 
            //   .fa{
            //       fontsize:1.5rem;
            //       font-size: 1.5rem;   
            //   }  
        }

        }

        }

        .listings-results{
            margin-bottom: 68px;
            //https://www.cssmatic.com/box-shadow
            .listing{
                background:red;
                width: 33.33%;
                border-radius: 5px;
                -webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
                -moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
                box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
            }
            //used perfect full page background-css
            .listing-img{
                color:white;
                padding: 15px;
                position: relative;
                background: url("http://cdn.home-designing.com/wp-content/uploads/2015/06/DSC_2546-600x386.jpg") no-repeat 
                center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                min-height: 200px;
                //generated from border-radius.com 
                -webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-topright: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                //used colorzilla gradient
                .details{
                    padding: 20px;
                    position: absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                    -webkit-border-top-left-radius: 5px;
                    -webkit-border-top-right-radius: 5px;
                    -moz-border-radius-topleft: 5px;
                    -moz-border-radius-topright: 5px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad1283+0,ad6ee5+60 */
                background: rgba(173,18,131,.8); /* Old browsers */
                background: -moz-linear-gradient(-45deg, rgba(173,18,131,.8) 0%, rgba(173,110,229,.8) 60%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, rgba(173,18,131,.8) 0%,rgba(173,110,229,.8) 60%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, rgba(173,18,131,.8) 0%,rgba(173,110,229,.8) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1283', endColorstr='#ad6ee5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
               
                .user-img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border:2px solid white;
                    display: inline-block;
                }
            .user-details{
                vertical-align: top;
               display: inline-block;
               width:70%;
               margin-left:20px; 

               .user-name{
                   font-weight: 300;
                   font-size:0.9rem;
                   display: block;
                color: rgba(255,255,255,.8)
               }

               .post-date{
                   display:block;
                color: rgba(255,255,255,.7)
               }
               
            }
            
            }
            }
        }

        }